.box {
  color: #fff;
  font-family: "Cabin", sans-serif;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}
.box:before,
.box:after,
.box .box-content:before,
.box .box-content:after {
  content: "";
  background: #4a69bd;
  width: 50%;
  height: 50%;
  opacity: 0;
  transform: translate(100%, 100%);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s ease;
}
.box:after {
  transform: translate(-100%, -100%);
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}
.box .box-content:before,
.box .box-content:after {
  background: #0055a4;
  transform: translate(-100%, 100%);
  left: auto;
  right: 0;
  transition: all 0.4s ease;
}
.box .box-content:after {
  transform: translate(100%, -100%);
  top: auto;
  bottom: 0;
  right: auto;
}
.box:hover:before,
.box:hover:after,
.box:hover .box-content:before,
.box:hover .box-content:after {
  transform: translate(0, 0);
  opacity: 0.8;
}
.box img {
  width: 100%;
  height: 100%;
  transition: all 0.25s;
}
.box .box-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.2s ease 0s;
}
.box .inner-content {
  text-align: center;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease 0s;
  z-index: 1;
}
.box:hover .inner-content {
  opacity: 1;
}
