@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Oxanium:wght@200..800&family=Pacifico&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.rubik {
  font-family: "Rubik", sans-serif;
}

.oxanium {
  font-family: "Oxanium", sans-serif;
}

.hind-siliguri {
  font-family: "Hind Siliguri", sans-serif;
}
